*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* header style starts here */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.youtube-logo{
    height: 20px;
}
.search-bar{
    flex-grow: 1;
    display: flex;
    margin: 0 2rem 0 4rem;
}
.search-input{
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius:0 ;
}
.search-btn{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    cursor: pointer;
}
.search-btn:hover{
    background-color: #F0F0F0;
}
.menu-icons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 1.5rem;
    align-items: center;
}
.menu-channel-icon{
    height: 30px;
    width: 30px;
    background-color: #AAA;
    border-radius: 50%;
}

/* header style ends here */

/* category section style starts here */
.categories{
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.category-section{
    display: flex;
    overflow: hidden;
}
.category{
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #CCC;
    border-radius: 900px;
    background-color: #E7E7E7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: 150ms;
}
.category:last-child{
    margin-right: 0;
}
.category:hover{
    background-color: #DDD;
}
.active{
    background-color: #606060;
    color: white;
    border-color:#EEE ;
}

/* category section style ends here */

/* video section style starts here */
.video-section-title{
    grid-column: 1/-1;
    margin: -1rem 0;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
}
.video-section-title-close{
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 3px solid #CCC;
}
.video-section:first-child{
    border-top: none;
}
.thumbnail-image{
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}
.video-container{
    display: flex;
    flex-direction: column;
}
.thumbnail{
    display: flex;
    position: relative;
}
.thumbnail::before{
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9em;
}
.video-bottom-section{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}
.channel-icon{
    border-radius: 50%;
    background-color: #AAA;
    margin-right: 0.7rem;
}
.video-details{
    display: flex;
    flex-direction: column;
}
.video-title{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
}
.video-channel-name{
    margin-bottom: .1rem;
    text-decoration: none;
    transition: 150ms;
}
.video-channel-name:hover{
    color: #111;
}
.video-channel-name,.video-metadata{
    color: #555;
}
/* video section style ends here */